#  Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**

- List popular languages for Data Science
- List popular libraries for Data Science
- examples of evaluating arithmetic expressions in Python

# Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

# SomeSome of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib

|Data Science Tools|
|------------------|
| Jupyter Notebook|
| R Studio |
| Spyder |

###  Below are a few examples of evaluating arithmetic expressions in Python

In [21]:
# This is a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [22]:
# This will convert 200 minutes to hours by dividing 60

200/6

33.333333333333336

## Author
Sujith S